<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "7digithexadecimalgenerator.03172008.edu.mit.scratch"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>7 digit hexadecimal generator</name>

    <description>
     Need A 7 Digit Hexadecimal Generator? Here It Is.
    </description>

    <author href="http://scratch.mit.edu/users/03172008" email="shree2008@outlook.com">
       03172008
    </author>

</widget>
